<tr class="active" id="fish<%= fish.id %>">
	<td>
		<%= fish.date %>
	</td>
	<td>
		<%= fish.time %>
	</td>
	<td>
		<%= link_to fish.species, fish_path(fish) %>
	</td>
	<td>
		<%= fish.weight %>
	</td>
	<td>
		<%= fish.length %>
	</td>
	<td class="hidden-sm">
		<%= fish.latitude %>
	</td>
		<td class="hidden-sm">
		<%= fish.longitude %>
	</td>

	<% if current_user.id == @user.id %>
		<td>

		<%= link_to "Delete", fish_path(fish), :method => "delete", remote: true %>
		</td>
	<% end %>

</tr>
