<h1><%= @user.name %>'s Fish</h1>
<table class="table table-striped table-hover ">
<tr>
	<td>Date</td>
	<td>Time</td>
	<td>Species</td>
	<td>Weight</td>
	<td>Length</td>
	<td>Latitude</td>
	<td>Longitude</td>
	<% if current_user.id == @user.id %>
		<td>
		<!-- Add empty column for delete button -->
		</td>
	<% end %>
</tr>
<% @all_fish.each do |fish|%>
	<%= render partial: "userfish", locals:{fish: fish}%>
<% end %>
</table>

		<div class="col-md-6">
			<!-- Empty Div For Google Map -->
			<%= content_tag "div", id: "user-fish-map",  style: "width:600px; height:450px", class: "img-responsive" do%>
			<% end %>
		</div>

<%= javascript_tag do %>
	$map = $("#user-fish-map");
	var userFish = <%= raw @all_fish.to_json %>
	insertMap('user-fish-map', userFish);
<% end %>


