<tr class="active">
	<td>
		<%= fish.date %>
	</td>
	<td>
		<%= fish.time %>
	</td>
	<td>
		<%= link_to fish.species, fish_path(fish) %>
	</td>
	<td>
		<%= fish.weight %>
	</td>
	<td>
		<%= fish.length %>
	</td>
	<td class="responsive-invisibility">
		<%= fish.latitude %>
	</td>
	<td class="responsive-invisibility">
		<%= fish.longitude %>
	</td>
	<% if fish.user %>
	<td>
		<%= link_to fish.user.name, user_path(fish.user) %>
	</td>
	<% end %>
</tr>
