
<tr>
	<td>
		<%= link_to fish.species, fish_path(fish) %>
	</td>
	<td>
		<%= fish.weight %>
	</td>
	<td>
		<%= fish.length %>
	</td>
	<td>
		<%= fish.location %>
	</td>
	<td>
		<%= fish.user.name %>
	</td>
</tr>
