<tr class="active">
	<td>
		<%= fish.date %>
	</td>
	<td>
		<%= link_to fish.species, fish_path(fish) %>
	</td>
	<td>
		<%= fish.weight %>
	</td>
	<td>
		<%= fish.length %>
	</td>
	<td>
		<%= fish.latitude %>
	</td>
		<td>
		<%= fish.longitude %>
	</td>
	<td>
		<%= fish.user.name %>
	</td>
</tr>
