<h1>Add Fish</h1>
<br>
<button type="button" id="mark-location">Mark Location</button>
<br>
<%= form_for @fish do |f| %>
<%= f.label :date %><br>
<%= f.label :species %>
<%= f.text_field :species%><br>
<%= f.label :length %>
<%= f.text_field :length%><br>
<%= f.label :weight %>
<%= f.text_field :weight%><br>
<%= f.label :latitude %>
<%= f.text_field :latitude, :id => "latitude" %><br>
<%= f.label :longitude %>
<%= f.text_field :longitude, :id => "longitude" %><br>
<%= f.submit "Log Fish" %><br>
<% end %>