<h1>Add Fish</h1>

<%= form_for @fish do |f| %>
<%= f.label :species %>
<%= f.text_field :species%><br>
<%= f.label :length %>
<%= f.text_field :length%><br>
<%= f.label :weight %>
<%= f.text_field :weight%><br>
<%= f.label :location %>
<%= f.text_field :location%><br>
<%= f.submit %>
<% end %>