<ul>
	<li><%= @fish.species %></li>
	<li><%= @fish.weight %></li>
	<li><%= @fish.length %></li>
	<li>Caught on <%= @fish.date %> at <%= @fish.time %> by <%= @fish.user.name %></li>
</ul>


<%= image_tag @fish.image.url(:medium) %>