<ul>
	<li><%= @fish.species %></li>
	<li><%= @fish.weight %></li>
	<li><%= @fish.length %></li>
	<li>Caught on <%= @fish.date %> at <%= @fish.time %> by <%= @fish.user.name %></li>
</ul>


<%= image_tag @fish.image.url(:medium) %>
<%= content_tag "div", id: "fish-map", data: {longitude: @fish.longitude, latitude: @fish.latitude},  style: "width:500px; height:300px" do%>
<% end %>


<%= javascript_tag do %>
	$map = $("#fish-map");
	var longitude = $map.attr("data-longitude");
	var latitude = $map.attr("data-latitude");
	insertMap(latitude,longitude);
<% end %>