<ul>
	<li><%= @fish.species %></li>
	<li>Weight: <%= @fish.weight %> lbs</li>
	<li>Length: <%= @fish.length %> inches</li>
	<li>Caught on <%= @fish.date %> at <%= @fish.time %> by <%= @fish.user.name %></li>
</ul>

<div class="container">
	<div class="row">
		<div class="col-md-6">

		<% if @fish.has_image? %>
				<%= image_tag @fish.image.url(:medium), class: "img-responsive" %>
			<% end %>
		</div>

		<div class="col-md-6">
			<!-- Empty Div For Google Map -->
			<%= content_tag "div", id: "fish-map", data: {longitude: @fish.longitude, latitude: @fish.latitude},  style: "width:600px; height:450px", class: "img-responsive" do%>
			<% end %>
		</div>
	</div>
</div>

<%= javascript_tag do %>
	$map = $("#fish-map");
	var longitude = $map.attr("data-longitude");
	var latitude = $map.attr("data-latitude");
	insertMap(latitude,longitude, 'fish-map');
<% end %>